# 忽略 Python 缓存和虚拟环境
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# 忽略虚拟环境
env/
venv/

# 忽略 Jupyter 的检查点
.ipynb_checkpoints/

# 忽略 VS Code 的工作区配置
.vscode/

# 忽略文件
*.fsp
*.log
*.mat
*.lsf
*.db
*.asv

# 忽略 numpy 临时文件
*.npy
*.npz
